{% extends 'centro/base.html' %}
{% load static %}

{% block contenido %}
{% include 'combates/includes/ckeditor.html' %}
<div class="container">
  <div class="row mt-3 mb-5">
    <div class="col-md-9 mx-auto">
        <div class="md-form">
              
      <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        
        {% for error in form.non_field_errors%}
          <div class="alert alert-danger" role="alert">
                {{error}}
          </div>
        {% endfor%}

        {% for field in form  %}
            {% if field == form.luchador %}
                <div class="form-group col-md-12 {% if form.luchador.errors %} invalid has-error {% endif %}">
                    <label for="{{ form.luchador.id_for_label }}" class="control-label">{{ form.luchador.label }}</label>
                    <input autofocus type="search" id="search" class="form-control" 
                    value="{% if form.instance.luchador %} {{form.instance.luchador}} {% endif %}">
                    <input type="hidden" id="luchador" name="luchador" value="{{form.instance.luchador.id}}">
                    {% for error in form.luchador.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            {% elif field == form.oponente %} 
                <div class="form-group col-md-12 {% if form.oponente.errors %} invalid has-error {% endif %}">
                    <label for="{{ form.oponente.id_for_label }}" class="control-label">{{ form.oponente.label }}</label>
                    <input autofocus type="search" id="search-oponente" class="form-control" 
                    value="{% if form.instance.oponente %} {{form.instance.oponente}} {% endif %}">
                    <input type="hidden" id="oponente" name="oponente" value="{{form.instance.oponente.id}}">
                        {% for error in form.oponente.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                </div>

            {% elif field == form.ganador %} 
                <div class="form-group col-md-12 {% if form.ganador.errors %} invalid has-error {% endif %}">
                    <label for="{{ form.ganador.id_for_label }}" class="control-label">{{ form.ganador.label }}</label>
                    <input autofocus type="search" id="search-ganador" class="form-control" 
                    value="{% if form.instance.ganador %} {{form.instance.ganador}} {% endif %}">
                    <input type="hidden" id="ganador" name="ganador" value="{{form.instance.ganador.id}}">
                        {% for error in form.ganador.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                </div>

            {% elif field == form.empate or field == form.knockout%} 
                <div class="form-check">
                {% if field.errors %}
                    <div class="control-group has-error">
                        <label class="control-label"> {{field.label}} </label>
                            <div class="controls"> {{ field }}
                                <span class="help-block">
                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
        
                    {{field}}
                    <label class="form-check-label">{{field.label}}</label>
                        {% if field.help_text %}
                            <p class="help-block"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    
                {% endif %}
            </div>
            

            {% else %}
                <div class="form-group col-md-12">
                    {% if field.errors %}
                        <div class="control-group has-error">
                            <label class="control-label"> {{field.label}} </label>
                                <div class="controls"> {{ field }}
                                    <span class="help-block">
                                        {% for error in  field.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="control-group">
                            <label class="control-label">{{field.label}}</label>
                            <div class="controls">{{field}}
                                {% if field.help_text %}
                                    <p class="help-block"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor  %}  
        <div class="col-md-12">
            <div class="float-right mt-2">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-sm btn-secondary">Cancelar</a>
                <input type="submit" class="btn btn-primary btn-sm text-rigth" value="Guardar" />
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock contenido %}
