{% extends 'centro/base.html' %}
{% block title %} {{titulo}} {% endblock %}
{% block contenido %}
<main role="main">
<div class="container-fluid">
    <h4 class="text-center">Boxeadores</h4>
    <p class="text-center">Los Resultados del Mundo de Box</p>

    <!-- Inicio Formulario  -->

    <div class="col-md-12 col-md-offset-2">
      <form class="form-inline" action="">
        <input type="text" class="form-control form-control-sm mb-2 col-md-2" placeholder="Ingresar Alias, Nombre o Apellido" name="texto" value="{{texto}}">
        <label for="pwd" class="col-md-1">Categoria:</label>
        <select name="categoria" id="" class="form-control form-control-sm mb-2 col-md-2">
          <option value="0">TODOS***</option>
            {% for cat in categorias %}
                <option value="{{cat.id}}" {% if cat.id == categoria %} selected {%endif%}>
                  {{cat.nombre}}
                </option>
            {% endfor %}
        </select>

        <label for="estado" class="col-md-1">Estado:</label>
        <select name="estado" id="estado" class="form-control form-control-sm mb-2 input-sm col-md-2 ">
            <option value="">TODOS***</option>
            {% for key, value in estados %}
                <option value="{{key}}" {% if key == estado %}selected{%endif%}>{{value}}</option>
            {% endfor %}
        </select>

        <div class=" col-md-2">
          <button type="submit" class="btn btn-outline-warning btn-sm mb-2">Buscar</button>
        </div>
        {% if perms.boxeadores.add_boxeador %}
          <div style="float: right" > <!--Aqui debe ir una funcion de boostrap ... ¡buscar! -->
            <button class="agregar-modal btn btn-sm btn-outline-danger mb-2" type="button" name="button">Agregar un Nuevo Boxeador</button>
          </div>
        {% endif %}

      </form>
      </div>
      </div>

    <!-- Inicio Tabla -->

    <div class="container-fluid mt-4">
        <table class="table table-condensed">
            <thead>
              <th>Apellido y Nombre</th>
              <th>Alias</th>
              <th>Peleas</th>
              <th>Acciones</th>
            </thead>
            <tbody>
              {% for boxeador in object_list %}
                <tr>
                  <td> {{boxeador.apellido}} {{boxeador.nombre}}</td>
                  <td>{{boxeador.alias}}</td>
                  <td>
                    <b class="text-primary" data-toggle="tooltip" data-placement="top" title="Combates ganados por KO {{boxeador.record.ganado_ko}}">{{boxeador.record.ganado}}</b>
                     | <b class="text-warning" data-toggle="tooltip" data-placement="top" title="Combates Empatados">{{boxeador.record.empate}}</b>
                     | <b class="text-danger" data-toggle="tooltip" data-placement="top" title="Combates Perdidos por KO {{boxeador.record.perdido_ko}}">{{boxeador.record.perdido}}</b>

                  </td>
                  <td>
                    <a class="accion text-dark" href="{% url 'boxeadores:ver' boxeador.id %}" title="Ver detalle de {{boxeador.alias}}"><i class="fas fa-search"></i></a>
                    {% if perms.boxeadores.change_boxeador %}
                    |
                    <a class="modificar-modal accion text-dark" title="Modificar datos de {{boxeador.alias}}" data-id="{%url 'boxeadores:modifica' boxeador.id %}">
                        <i class="fas fa-pen"></i>
                    </a>
                    {%endif%}
                    {% if perms.boxeadores.delete_boxeador %}
                    |
                    <a class="eliminar-modal accion text-danger" title="Eliminar Boxeador" data-id="{% url 'boxeadores:eliminar' boxeador.id %}">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                    {%endif%}

                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Paginación -->
  <br>
{% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&laquo;</a>
        </li>
      {% endif %}
      {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>

</main>
{% endif %}

{% include "centro/modal.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

  $(".agregar-modal").modalForm({
        formURL: "{% url 'boxeadores:alta' %}"
    });

  $(".modificar-modal").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });

  $(".eliminar-modal").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });
});
</script>
{% endblock %}
