{% extends 'centro/base.html' %}
{% load static %}
{% block title %} {{titulo}} {% endblock %}
{% block contenido %}

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-4 mx-auto">
        <h3 class="section-heading mb-4">{{object.alias}}</h3>
        <div>
          <ul class="list-unstyled">
              <li><b>Apellido y Nombre: </b>{{boxeador.apellido}} {{boxeador.nombre}}</li>
              <li><b>Cantidad de Peleas: </b> {{boxeador.record.total}}</li>
              <li><b>Categoria Actual: </b>{{boxeador.categoria.nombre}}</li>
          {% if perms.boxeadores.change_boxeador %}
            <a class="modificar-modal accion text-primary" title="Modificar Boxeador" data-id="{% url 'boxeadores:modifica' boxeador.id %}">

              Editar
            </a>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-md-4 mx-auto">
          <h3 class="section-heading mb-4">Record</h3>
        <ul class="list-unstyled">
          <li>Cantidad de Combates Ganados: <b class="text-primary">{{boxeador.record.ganado}}</b></li>
          <li>Cantidad de Combates Ganados por KO: <b class="text-primary">{{boxeador.record.ganado_ko}}</b></li>
          <li> Cantidad de Combates Empatados: <b class="text-warning">{{boxeador.record.empate}}</b></li>
          <li>Cantidad de Combates Perdidos: <b class="text-danger">{{boxeador.record.perdido}}</b></li>
          <li>Cantidad de Combates Perdidos por KO: <b class="text-danger">{{boxeador.record.perdido_ko}}</b></li>
        </ul>
      </div>
      <div class="col-md-4 mx-auto">
        <img class="float-right img-fluid imagenTam imagen" src="{{boxeador.imagen.url}}" alt="Cinque Terre">

      </div>
    </div>
    <br>
    
    <table class="table table-condensed">
      <thead>
          <th>Fecha</th>
          <th>Categoria</th>
          <th>Luchador</th>
          <th>Oponente</th>
      </thead>
      <tbody>
        {% for c in boxeador.lista_combates %}
              <tr>
                  <td> {{c.fecha}}</td>

                  <td> {{c.categoria}}</td>

                  <td>{{c.luchador.apellido}} {{c.luchador.nombre}}
                    {% if c.ganador.id == c.luchador.id %}
                      <i class="fas fa-trophy text-warning"></i>
                    {% endif %}
                  </td>

                  <td> {{c.oponente.apellido}} {{c.oponente.nombre}}
                    {% if c.ganador.id == c.oponente.id %}
                        <i class="fas fa-trophy text-warning"></i>
                    {% endif %}
                  </td>

              </tr>
          {% endfor %}
      </tbody>
  </table>
  
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-sm btn-outline-secondary mb-2 float-right">Volver a La Página Anterior</a>

  </div>

</main>
{% include "centro/modal.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

  $(".modificar-modal").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });

});
</script>
{% endblock %}