{% extends 'centro/base.html' %}
{% load static %}

{% block contenido %}
{% include 'combates/includes/ckeditor.html' %}
<div class="container">
  <div class="row mt-3 mb-5">
    <div class="col-md-9 mx-auto">
        <div class="md-form">
              
      <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        
        {% for error in form.non_field_errors%}
          <div class="alert alert-danger" role="alert">
                {{error}}
          </div>
        {% endfor%}

        {% for field in form  %}
                <div class="form-group col-md-12">
                    {% if field.errors %}
                        <div class="control-group has-error">
                            <label class="control-label"> {{field.label}} </label>
                                <div class="controls"> {{ field }}
                                    <span class="help-block">
                                        {% for error in  field.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="control-group">
                            <label class="control-label">{{field.label}}</label>
                            <div class="controls">{{field}}
                                {% if field.help_text %}
                                    <p class="help-block"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
        {% endfor  %}  
        <div class="col-md-12">
            <div class="float-right mt-2">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-sm btn-secondary">Cancelar</a>
                <input type="submit" class="btn btn-primary btn-sm text-rigth" value="Guardar" />
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock contenido %}
