{% extends 'centro/base.html' %}
{% block title %} {{titulo}} {% endblock %}
{% block contenido %}
<main role="main">
<div class="container-fluid">
    <h4 class="text-center">Categorias</h4>
    <p class="text-center">Los Resultados del Mundo de Box</p>

    <!-- Inicio Formulario  -->

    <div class="col-md-12 col-md-offset-2">


        
          <div style="float: right" > <!--Aqui debe ir una funcion de boostrap ... ¡buscar! -->
            <button class="agregar-modal btn btn-sm btn-outline-danger mb-4" type="button" name="button">Agregar una Categoria</button>
          </div>
        

      
      </div>
      </div>

    <!-- Inicio Tabla -->

    <div class="container-fluid mt-4">
        <table class="table table-condensed">
            <thead>
              <th>Categoria</th>
              <th>Libras</th>
              <th>Kilos</th>
              <th>Acciones</th>
            </thead>
            <tbody>
              {% for a in object_list %}
                <tr>
                  <td> {{a.nombre}}</td>
                  <td>{{a.libras}} Lb.</td>
                  <td>{{a.libras_a_kilos}} Kg.</td>
                  <td>
                    <a class="accion text-dark" href="{% url 'boxeadores:boxeadores' %}?categoria={{a.id}}" title="Ver detalle de {{boxeador.alias}}"><i class="fas fa-search"></i></a>
                    {% if request.user.is_staff %}
                    |
                    <a class="modificar-modal accion text-dark" title="Modificar datos de {{a.nombre}}" data-id="{% url 'categorias:modifica' a.id %}">
                        <i class="fas fa-pen"></i>
                    </a>
                    {%endif%}

                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Paginación -->
  <br>
{% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&laquo;</a>
        </li>
      {% endif %}
      {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>

</main>
{% endif %}

{% include "centro/modal.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

  $(".agregar-modal").modalForm({
        formURL: "{% url 'categorias:alta' %}"
    });

  $(".modificar-modal").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });

  $(".eliminar-modal").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });
});
</script>
{% endblock %}
