{% extends 'centro/base.html' %}
{% load static %}

{% block title %} {{ titulo }} {% endblock %}

{% block contenido %}
  <main role="main">
    <div class="container-fluid">
        <div class="col-sm-6 offset-sm-3 text-center">
          <h3>Editores</h3>
        
          <form action="" class="form-inlin justify-content-center">
              <div class="form-group">                  
                  <input type="text" 
                        class="form-control form-control-sm" 
                        placeholder="Ingresar Nombre, Apellido o Usuario"
                        name="texto"
                  >
              </div>
              <button type="submit" class="btn btn-sm btn-outline-primary mb-2 col-md-3">Buscar...¡Aqui!</button>
          </form>
      
      <br>
  </div>
    <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card-columns">
            {% for profile in profile_list %}
              <div class="card">
                {% if profile.avatar %}
                  <img src="{{profile.avatar.url}}" class="card-img-top img-fluid"  alt="...">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{profile.user}}</h5>
                  <p class="card-text">{{profile.bio|truncatechars:"100"}}</p>
                  <a href="{% url 'profiles:detail' profile.user %}">Ver perfil</a>
                </div>
              </div>      
            {% endfor %}
          </div>
        </div>
    </div>
    </div>

    <!-- Paginación -->
  <br>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&laquo;</a>
        </li>
      {% endif %}
      {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  
</main>
{% endblock %}

{% block scripts %} {% endblock scripts %}