{% extends 'centro/base.html' %}
{% load static %}
{% block contenido %}
<main role="main">
<div class="container">
    <h2 class="text-center">{{post.titulo}}</h2>
    <div class="row">
        <div class="col-md-7">
                {{post.cuerpo|safe}}
                
                <p class="text-md-right">{{post.fecha_creacion}}</p>
        </div>
        <div class="col-md-5">
            <figure class="figure">
                
                {% if  post.user_autor.profile.avatar %}
                <img src="{{post.user_autor.profile.avatar.url}}" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-right">Autor: {{post.user_autor}}</figcaption>
                {% else %}
                <img src="{% static 'registration/img/no-avatar.jpg' %}" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-right">Autor: {{post.user_autor}}</figcaption>
                {% endif %}
                    
              </figure>
        </div>
    </div>
    <div class="float-right mt-2">
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-sm btn-secondary">Volver</a>
    </div>
</div>
</main>
{% endblock contenido %}
    
    