{% extends 'centro/base.html' %}

{% block contenido %}
{% include 'combates/includes/ckeditor.html' %}
<div class="container">
    <div class="row mt-3 mb-5">
        <div class="col-md-9 mx-auto">
            <div class="md-form">
                <ul class="list-unstyled">
                    {% for error in form.non_field_errors %}
                        <li class='text-danger'><b>{{error}}</b></li>
                    {% endfor %}
                </ul>
                <form action="" method="post">{% csrf_token %}
                  

                  {% for field in form %}
                  <div class="form-group{% if field.errors %} invalid has-error {% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endfor %}

                    <div class="float-right mt-2">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-sm btn-secondary">Cancelar</a>
                        <input type="submit" class="btn btn-primary btn-sm text-rigth" value="Guardar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
    