{% extends 'centro/base.html' %}
{% block title %} {{titulo}} {% endblock %}
{% block contenido %}
<main role="main">
<div class="container-fluid">
    
    {% if combate %}
        <h4 class="text-center">{{combate.luchador}} {{combate.oponente}}</h4>
        <p class="text-center">{{combate.fecha}}</p>
    {% else %}
    <h4 class="text-center">Blogs de Combates</h4>
    {% endif %}
        
    <div class="col-md-12 col-md-offset-2">
        <form action="" class="form-inline">
            <input type="text" class="form-control form-control-sm mb-2 col-md-4" placeholder="Ingresar Alias, Nombre o Apellido del Boxeador o Bloger" name="texto" value="{{texto}}">
            <div class=" col-md-2">
                <button type="submit" class="btn btn-outline-warning btn-sm mb-2">Buscar</button>
              </div>
        </form>
    </div>

<table class="table table-condensed mt-4">
    <thead>
        <th class="col-md-3">Titulo</th>
        <th class="col-md-5">Combate</th>
        <th class="col-md-3">Autor</th>
        <th></th>
    </thead>
    <tbody>
        {%for l in object_list %}
        <tr>
            <td>{{l.titulo | truncatechars:40 }}</td>
            <td>{{l.combate.luchador}} vs {{l.combate.oponente}}</td>
            <td>{{l.user_autor}}</td>
            <td><a href="{% url 'blogs:detail' l.slug %}"><i class="fas fa-search"></i></a>
                {% if user.is_authenticated %}
                <a href="{% url 'blogs:update' l.id %}"><i class="fas fa-pen"></i></a>
                {% endif %}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

</div>
</main>
{% endblock %}