{% extends 'centro/base.html' %}
{% load static %}
{% block title %}Combates{% endblock %}
{% block contenido %}
<main role="main">
<div class="container-fluid">
    <h4 class="text-center">Combates</h4>
    <p class="text-center">Los Resultados del Mundo de Box</p>
    
    <div class="col-md-12 col-md-offset-2">
      <form class="form-inline" action="">
        <label for="pwd" class="col-md-1">Categoria:</label>              
        <select name="categoria" id="" class="form-control form-control-sm mb-2 col-md-2">
          <option value="0">TODOS***</option>
            {% for cat in categorias %}
                <option value="{{cat.id}}" {% if cat.id == categoria %} selected {%endif%}>
                  {{cat.nombre}}
                </option>
            {% endfor %}
        </select>
        
        <label for="estado" class="col-md-1">Estado:</label>
        <select name="estado" id="estado" class="form-control form-control-sm mb-2 input-sm col-md-2 ">
            <option value="0">TODOS***</option>
            {% for key, value in estados %}
                <option value="{{key}}" {% if key == estado %}selected{%endif%}>{{value}}</option>
            {% endfor %}
        </select>
        
        <div class=" col-md-4">
          <button type="submit" class="btn btn-outline-warning btn-sm mb-2 col-md-2">Buscar</button>
        </div>
        {% if perms.combates.add_combate %}
          <div style="float: right" > <!--Aqui debe ir una funcion de boostrap ... ¡buscar! -->
            <a href="{% url 'combates:alta' %}" class="btn btn-sm btn-outline-danger mb-2">Agregar un Nuevo Combate</a>
          </div>
        {%endif%}
      </form> 
      </div>

    <table class="table table-condensed mt-4">
      <thead>
          <th>Fecha</th>
          <th>Categoria</th>
          <th>Luchador</th>
          <th>Oponente</th>
          <th></th>
      </thead>
      <tbody>
        {% for c in object_list %}
          <tr>
            <td> {{c.fecha | date:"d-m-Y"}}</td>
            <td> {{c.categoria}}</td>
            <td>{{c.luchador.apellido}} {{c.luchador.nombre}}
              {% if c.ganador.id == c.luchador.id %}
              <i class="fas fa-trophy text-warning"></i>
              {% endif %}
            </td>
            <td> {{c.oponente.apellido}} {{c.oponente.nombre}}
            {% if c.ganador.id == c.oponente.id %}
              <i class="fas fa-trophy text-warning"></i>
            {% endif %}
            </td>
            <td> 
              <a href="{% url 'combates:ver' c.id %}">ver mas...</a>
            </td>      
          </tr>
        {% endfor %}
      </tbody>
  </table>


  <!-- Paginación -->
  <br>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      {% if page_obj.has_previous %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&laquo;</a>
        </li>
      {% endif %}
      {% for i in paginator.page_range %}
        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</div>
</main>
{% endblock %}


{% block scripts %}
{% endblock scripts %}
  
