{% extends 'centro/base.html' %}
{% load static %}

{% block title %} {{titulo}} {% endblock title %}

{% block contenido %}
<main class="main">
    <div class="container-fluid">
    <h4 class="text-center mb-3">Fecha del Combate: {{object.fecha | date:"d-m-Y"}}</h4>
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-2">
                
                <a href="{% url 'boxeadores:ver' combate.luchador.id %}">
                    <img class="img-fluid imagen" src="{{combate.luchador.imagen.url}}" alt="">
                </a>
                
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><b>Apellido y Nombre: </b>{{combate.luchador.apellido}} {{combate.luchador.nombre}}</li>
                    <li><b>Cantidad de Combates: </b><b class="text-success"> {{combate.luchador.record.total}}</b></li>
                    <li><b>Cantidad de Combates Ganados: </b><b class="text-primary">{{combate.luchador.record.ganado}}</b>
                        {% if combate.ganador.id == combate.luchador.id %}
                            <i class="fas fa-trophy text-warning"></i>
                        {% endif %}
                    </li>
                    <li><b>Cantidad de Combates Perdidos: </b><b class="text-danger">{{combate.luchador.record.perdido}}</b></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><b>Apellido y Nombre: </b>{{combate.oponente.apellido}} {{combate.oponente.nombre}}</li>
                    <li><b>Cantidad de Combates:</b><b class="text-success"> {{combate.oponente.record.total}}</b></li>
                    <li><b>Cantidad de Combates Ganados: </b><b class="text-primary">{{combate.oponente.record.ganado}}</b>
                        {% if combate.ganador.id == combate.oponente.id %}
                            <i class="fas fa-trophy text-warning"></i>
                        {% endif %}
                    </li>
                    <li><b>Cantidad de Combates Perdidos: </b><b class="text-danger">{{combate.oponente.record.perdido}}</b></li>
                </ul>
            </div>
            <div class="col-md-2">
                <a href="{% url 'boxeadores:ver' combate.oponente.id %}">
                <img class="img-fluid"  src="{{combate.oponente.imagen.url}}" alt="" title='Ver Record de {{combate.oponente.alias}}'>
                </a>
            </div>
        </div>
        
        {% if perms.combates.change_combate %}
        <a href="{% url 'combates:modifica' combate.id%}">Modificar</a> |
        {% endif %}

        {% if user.is_authenticated %}
        <a href="{% url 'blogs:create' combate.id %}">Comentar</a> |
        {% endif %}
        <a href="{% url 'blogs:posts'%}?id={{combate.id}}">Ver Comentarios</a>
        <hr>
        {% if combate.resumen %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p class="text-center">{{combate.resumen|safe}}</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <hr>    
        {% endif %}
        
        <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Ultimos Combates</h3>
                </div>
                <div class="col-md-6">
                    <table class="table table-condensed mr-4" style="font-size: 14px;">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Categoria</th>
                            <th>Luchador</th>
                            <th>Oponente</th>
                            <th></th>
                        </tr>
                    </thead>
                    <body>
                        {% for c in combate.luchador.last_five_fights %}
                            <tr>
                                <td> {{c.fecha | date:"d-m-Y"}}</td>
                                <td> {{c.categoria}}</td>
                                <td>{{c.luchador.apellido}} {{c.luchador.nombre}}
                                {% if c.ganador.id == c.luchador.id %}
                                    <i class="fas fa-trophy text-warning"></i>
                                {% endif %}
                                </td>
                                <td> {{c.oponente.apellido}} {{c.oponente.nombre}}
                                {% if c.ganador.id == c.oponente.id %}
                                    <i class="fas fa-trophy text-warning"></i>
                                {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'combates:ver' c.id %}">ver mas...</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </body>
                </table>

                </div>

                <div class="col-md-6">
                    <table class="table table-condensed ml-4" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Categoria</th>
                                <th>Luchador</th>
                                <th>Oponente</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <body>
                            {% for c in combate.oponente.last_five_fights %}
                            <tr>
                                <td> {{c.fecha | date:"d-m-Y"}}</td>
                                <td> {{c.categoria}}</td>
                                <td>{{c.luchador.apellido}} {{c.luchador.nombre}}
                                    {% if c.ganador.id == c.luchador.id %}
                                        <i class="fas fa-trophy text-warning"></i>
                                    {% endif %}
                                </td>
                                <td> {{c.oponente.apellido}} {{c.oponente.nombre}}
                                {% if c.ganador.id == c.oponente.id %}
                                    <i class="fas fa-trophy text-warning"></i>
                                {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'combates:ver' c.id %}">ver mas...</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
    </div>
</main>
{% endblock %}