<form id="modal-form" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}

   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <h3 class="modal-title">{{title}}</h3>
    </div>

    <div class="modal-body">
      {{form.as_p}}
    </div>

    <div class="modal-footer">
      <button type="button" id="btn-g" class="submit-btn btn btn-primary btn-sm">Guardar</button>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
    </div>

</form>

<script>
  $( "#modal-form" ).submit(function( event ) {
    document.getElementById("btn-g").click();
  });
  $('#btn-g').on('click',function() {
    $(this).attr('disabled','disabled');
  });
</script>