{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Estilos -->
    <link href="{% static 'centro/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'centro/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'centro/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'centro/css/main.css' %}" rel="stylesheet">
    <!-- Fin css-->
    
    <!-- Inicio js-->
    <script src="{% static 'centro/js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'centro/js/popper.js' %}" type="text/javascript"></script>
    <script src="{% static 'centro/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'centro/jquery-ui/jquery-ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'centro/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <!-- Fin js-->
    
    {% block css %}  {% endblock css %}
    
  </head>
  
    <body>
      <!-- Navegación -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">El Ring</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="ned">
            <ul class="navbar-nav mr-auto">
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'boxeadores:boxeadores' %}">Boxeadores</a>
              </li>    
              <li class="nav-item">
                <a class="nav-link" href="{% url 'combates:combates' %}">Combates</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'categorias:categorias' %}">Categorias</a>
              </li>   
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blogs:posts' %}">Posts</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'profiles:profiles' %}">Editores</a>
              </li> 
            </ul>
            <ul class="navbar-nav">
              {% if not request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Acceder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Registro</a>
                  </li>
              {% else %}
              <li class="nav-item">
                <b class="nav-link">{{user}}</b>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- Contenido -->
      
      {% include 'centro/messages.html' %}
      {% block contenido %}{% endblock contenido %}
      {% block scripts %}{% endblock scripts %}
      {% block footer %} {% endblock %}
    </body>
</html>