{% load static %}
<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
    
            <div class="col-sm-4">
                    <p class="text-center text-light"><a href="https://clementiina.com"><img src="{% static 'centro/img/clementiina-circulo.svg'%}" class="footer-icon"> Clementiina</a> - 2019</p>
            </div>
            <div class="col-sm-4">
                <ul class="list-inline text-right">
                    <li class=""><a href="https://www.facebook.com/El-Ring-104647850957863/
                        " target="_blank" title="Facebook"><i class="fab fa-facebook"></i></li>
                    <li class=""><a href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></li>
                    <li class=""><a title="youtube" target="_blank" href="#"><i class="fab fa-youtube"></i></a></li> 
                </ul>
            </div>
        </div>
    </div>
</footer>