{% extends 'centro/base.html' %}
{% load static %}
{% block title %} {{titulo}} {% endblock %}
{% block contenido %}

<main role="main">
<div class="container-fluid">
    <h3 class="text-center">El Ring</h3>
    <h5 class="text-center">Los Resultados del Mundo de Box</h5>
    <div class="col-md-12 col-md-offset-2">
        <table class="table table-condensed">
          <thead>
              <th>Fecha</th>
              <th>Categoria</th>
              <th>Luchador</th>
              <th>Oponente</th>
          </thead>
          <tbody>
            {% for c in combates %}
                <tr>
                  <td> {{c.fecha | date:"d-m-Y" }}</td>
                  <td> {{c.categoria}}</td>
                  
                  <td>{{c.luchador.apellido}} {{c.luchador.nombre}}
                    {% if c.ganador.id == c.luchador.id %}
                      <i class="fas fa-trophy text-warning"></i>
                    {% endif %}
                  </td>
      
                  <td> {{c.oponente.apellido}} {{c.oponente.nombre}}
                    {% if c.ganador.id == c.oponente.id %}
                      <i class="fas fa-trophy text-warning"></i>
                    {% endif %}
                  </td>      
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
</main>
{% endblock %}
{% block footer %} 
  {% include 'centro/footer.html' %} 
{% endblock %}