{% extends 'centro/base.html' %}
{% load static %}

{% block contenido %}
{% include 'combates/includes/ckeditor.html' %}
    <div class="container">
        <div class="row mt-3">
          <div class="col-md-9 mx-auto mb-5">
            <form action="" method="post">{% csrf_token %}
                <h3 class="mb-4">Email</h3>
                {% for error in form.non_field_errors%}
                <div class="alert alert-danger" role="alert">
                      {{error}}
                </div>
              {% endfor%}
              
              <div class="form-group col-md-12">
              {% for field in form  %}
                  {% if field.errors %}

                    <div class="control-group has-error">
                      <label class="form-control-label is-invalid">{{field.label}}</label>
                      <div class="input-group is-invalid">
                        <input class="form-control is-invalid" type="email" name="email" value={{field.value}}>
                        <div class="invalid-feedback">{% for error in  field.errors %}{{ error }}{% endfor %}</div>
                      </div>
                    </div>

                  {% else %}
                      <div class="control-group">
                          <label class="control-label">{{field.label}}</label>
                          <div class="controls">{{field}}
                              {% if field.help_text %}
                                  <p class="help-block"><small>{{ field.help_text }}</small></p>
                              {% endif %}
                          </div>
                      </div>
                  {% endif %}
                  <br>  
              {% endfor  %}
              </div>
              <p><input type="submit" class="btn btn-primary mt-3 btn-block" value="Actualizar"></p>
            </form>
          </div>
        </div>
    </div>
{% endblock contenido %}
