{% extends 'centro/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block contenido%}
<style>label{display:none}</style>
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Registrarse</h3>
          	{{form.as_p}}
          <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}